:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

/* the logo shows up in a lot of places, might as well include it everywhere */
.Logo {
  position: relative;
}
.Logo > svg {
  display: inline-block;
  margin: 0 -1.25%;
}
.Logo path,
.Logo polygon {
  fill: #fff;
}
.Logo > svg:first-child {
  z-index: 1;
  position: relative;
  margin-right: -1.7em;
}
.Logo > svg:nth-child(2) {
  z-index: 1;
  position: relative;
  margin-right: -1.25em;
}

/* This is the cool button w/ a beat bouncing inside of it when you click it */
.BeatSpinner > * {
  margin-left: 1px;
  height: 10%;
}
.BeatSpinner > :first-child {
  -webkit-animation: bass 4s infinite;
  animation: bass 4s infinite;
}
.BeatSpinner > :nth-child(2) {
  -webkit-animation: mid 4s infinite;
  animation: mid 4s infinite;
}
.BeatSpinner > :nth-child(3) {
  -webkit-animation: high 4s infinite;
  animation: high 4s infinite;
}
@keyframes bass {
  0% {
    height: 20%;
  }
  2% {
    height: 100%;
  }
  12.5% {
    height: 20%;
  }
  14.5% {
    height: 13%;
  }
  25% {
    height: 20%;
  }
  27% {
    height: 40%;
  }
  37.5% {
    height: 20%;
  }
  39.5% {
    height: 22%;
  }
  50% {
    height: 20%;
  }
  52% {
    height: 90%;
  }
  62.5% {
    height: 20%;
  }
  64.5% {
    height: 100%;
  }
  75% {
    height: 20%;
  }
  77% {
    height: 34%;
  }
  87.5% {
    height: 20%;
  }
  89.5% {
    height: 23%;
  }
}
@keyframes mid {
  0% {
    height: 23%;
  }
  2% {
    height: 40%;
  }
  12.5% {
    height: 20%;
  }
  14.5% {
    height: 30%;
  }
  25% {
    height: 22%;
  }
  27% {
    height: 90%;
  }
  37.5% {
    height: 20%;
  }
  39.5% {
    height: 30%;
  }
  50% {
    height: 20%;
  }
  52% {
    height: 45%;
  }
  62.5% {
    height: 30%;
  }
  64.5% {
    height: 50%;
  }
  75% {
    height: 20%;
  }
  77% {
    height: 90%;
  }
  87.5% {
    height: 20%;
  }
  89.5% {
    height: 30%;
  }
}
@keyframes high {
  0% {
    height: 20%;
  }
  2% {
    height: 23%;
  }
  12.5% {
    height: 22%;
  }
  14.5% {
    height: 90%;
  }
  25% {
    height: 20%;
  }
  27% {
    height: 50%;
  }
  37.5% {
    height: 20%;
  }
  39.5% {
    height: 100%;
  }
  50% {
    height: 18%;
  }
  52% {
    height: 23%;
  }
  62.5% {
    height: 20%;
  }
  64.5% {
    height: 25%;
  }
  75% {
    height: 20%;
  }
  77% {
    height: 60%;
  }
  87.5% {
    height: 22%;
  }
  89.5% {
    height: 100%;
  }
}

.aspect {
  position: relative;
  width: 100%;
  height: 0;
}

.aspect > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-16x9 {
  padding-bottom: 56.25%;
}
