/* Global font-face declarations
   - Kept separate from `tailwind.css` to make it clear what fonts are loaded app-wide.
*/

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/font/inter-roman-latin-var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("/font/inter-italic-latin-var.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/font/source-code-pro-roman-var.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("/font/source-code-pro-italic-var.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  src: url("/font/jet-brains-mono.woff2") format("woff2");
}
