/*
CSS Variables used in this file:
--parallax-transform-percent: Controls how much elements move during parallax scrolling (0-1).
  Lower values = more movement. Default is 0.75, meaning elements move 25% of scroll distance.

--rotate: Base rotation angle for keepsake elements (in degrees)
--hover-rotate: Additional rotation on hover (in degrees)
*/

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  src: url("/font/jet-brains-mono.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Kind of annoying, but need to apply this class to all layers that should be clickable */
.top-layer {
  @apply relative z-10;
}

/* Letter of Intent */

.letter-of-intent {
  --parallax-transform-percent: 0.75;
  padding-top: 320px;
  padding-bottom: 450px;
}

.letter-of-intent-container {
  max-width: 1400px;
  width: 85%;
  padding-bottom: 200px;
  @apply mx-auto pb-0 pt-0;
}

.seats-container {
  aspect-ratio: 2.69;
  width: 1824px;
}

/* Keepsakes */

.keepsake {
  position: absolute;
}

.keepsake.has-border {
  border: 16px solid white;
  border-radius: 4px;
}

.keepsake .rotate {
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotate));
  /* bit of a bounce */
  transition: transform 0.3s cubic-bezier(0, 1.5, 0.67, 1.06);
  will-change: transform;
}

.keepsake .rotate:hover {
  transform: rotate(calc(var(--rotate) + var(--hover-rotate)));
}

/* Postcard */
.postcard {
  --rotate: -6deg;
  --hover-rotate: 3deg;
  top: 17px;
  left: -5px;
  width: 369px;
  height: 258px;
}

.postcard-container {
  box-shadow:
    rgba(0, 0, 0, 0.067) 0.568132px 0.568132px 1.44623px -0.321429px,
    rgba(0, 0, 0, 0.067) 1.39174px 1.39174px 3.5428px -0.642857px,
    rgba(0, 0, 0, 0.07) 2.63715px 2.63715px 6.7131px -0.964286px,
    rgba(0, 0, 0, 0.07) 4.60378px 4.60378px 11.7193px -1.28571px,
    rgba(0, 0, 0, 0.07) 8.01261px 8.01261px 20.3968px -1.60714px,
    rgba(0, 0, 0, 0.075) 14.676px 14.676px 37.3591px -1.92857px,
    rgba(0, 0, 0, 0.082) 29px 29px 73.8219px -2.25px;
}

.postcard-container:after {
  content: "";
  border: 13px #f4f3ef solid;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.keepsake-container:has(.postcard) {
  --parallax-transform-percent: 0.8;
}

@screen md {
  .postcard {
    --rotate: -4deg;
    top: 17px;
    left: -4px;
    width: 533px;
    height: 373px;
  }
}

@screen lg {
  .postcard {
    top: 27px;
    left: 16px;
    width: 534px;
    height: 374px;
  }
}

@screen xl {
  .postcard {
    top: 27px;
    left: 16px;
    width: 600px;
    height: 420px;
  }
}

@screen 2xl {
  .postcard {
    top: 44px;
    left: 82px;
    width: 800px;
    height: 560px;
  }
}

@media (min-width: 120rem /* 1920px */) {
  .postcard {
    top: 44px;
    left: 153px;
    width: 800px;
    height: 560px;
  }
}

/* Lanyard */
.lanyard {
  --rotate: 14deg;
  --hover-rotate: 5deg;
  top: -32px;
  right: -237px;
  width: 320px;
  height: 401px;
}

.keepsake-container:has(.lanyard) {
  --parallax-transform-percent: 0.9;
}

@screen md {
  .lanyard {
    top: -111px;
    right: -175px;
    width: 431px;
    height: 540px;
  }
}

@screen lg {
  .lanyard {
    top: -178px;
    right: -179px;
    width: 523px;
    height: 656px;
  }
}

@screen xl {
  .lanyard {
    top: -154px;
    right: -215px;
    width: 605px;
    height: 758px;
  }
}

@screen 2xl {
  .lanyard {
    top: -273px;
    right: -70px;
    width: 644px;
    height: 807px;
  }
}

@media (min-width: 120rem /* 1920px */) {
  .lanyard {
    top: -359px;
    right: -97px;
    width: 772px;
    height: 968px;
  }
}

/* Sticker */
.sticker {
  --rotate: -8deg;
  --hover-rotate: 5deg;
  top: 255px;
  right: 96px;
  width: 145px;
  height: 43px;
}

.keepsake-container:has(.sticker) {
  --parallax-transform-percent: 0.8;
}

@screen md {
  .sticker {
    top: 259px;
    right: -9px;
    width: 202px;
    height: 60px;
  }
}

@screen lg {
  .sticker {
    top: 286px;
    right: -18px;
    width: 304px;
    height: 90px;
  }
}

@screen xl {
  .sticker {
    top: 456px;
    right: -2px;
    width: 304px;
    height: 90px;
  }
}

@screen 2xl {
  .sticker {
    top: 436px;
    right: 288px;
    width: 304px;
    height: 90px;
  }
}

@media (min-width: 120rem /* 1920px */) {
  .sticker {
    top: 498px;
    right: 370px;
    width: 304px;
    height: 90px;
  }
}

/* Pick */
.pick {
  --rotate: -30deg;
  --hover-rotate: 5deg;
  top: -10px;
  left: 120px;
  width: 60px;
  height: 70px;
}

.keepsake-container:has(.pick) {
  --parallax-transform-percent: 1;
}

@screen md {
  .pick {
    top: 78px;
    left: 482px;
    width: 60px;
    height: 70px;
  }
}

@screen lg {
  .pick {
    top: 75px;
    left: 501px;
    width: 76px;
    height: 89px;
  }
}

@screen xl {
  .pick {
    top: 50px;
    left: 764px;
    width: 100px;
    height: 117px;
  }
}

@screen 2xl {
  .pick {
    top: 200px;
    left: 200px;
    width: 100px;
    height: 117px;
  }
}

@media (min-width: 120rem /* 1920px */) {
  .pick {
    top: 143px;
    left: 894px;
    width: 100px;
    height: 117px;
  }
}

/* Responsive styles for other elements */
@screen md {
  .letter-of-intent {
    padding-top: 480px;
  }

  .letter-of-intent-container {
    width: 75%;
    padding-bottom: 200px;
  }
}

@screen lg {
  .letter-of-intent-container {
    width: 75%;
    padding-bottom: 150px;
    padding-top: 48px;
  }

  .seats-container {
    width: 2016px;
  }
}

@screen xl {
  .letter-of-intent {
    padding-bottom: 450px;
  }

  .seats-container {
    width: 2344px;
  }

  .letter-of-intent-container {
    width: 67%;
    padding-bottom: 56px;
    padding-top: 48px;
  }
}

@screen 2xl {
  .letter-of-intent {
    padding-top: 600px;
    padding-bottom: 450px;
  }

  .seats-container {
    width: 2784px;
  }

  .letter-of-intent-container {
    width: 67%;
    padding-bottom: 110px;
    padding-top: 96px;
  }
}

@media (min-width: 120rem /* 1920px */) {
  .letter-of-intent-container {
    width: 60%;
    @apply pb-0 pt-0;
  }

  .letter-of-intent h2 {
    @apply text-8xl;
  }
}
