.DS_Store
node_modules
/build
/.coverage
/public/styles
/app/styles/public
/.env

/NOTES.md

.pnpm-store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.playwright-cli/

/references/
