:root {
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #999999;
  --base04: #b4b7b4;
  --base05: #cccccc;
  --base06: #e0e0e0;
  --base07: #ffffff;
  --base08: #f2777a;
  --base09: #f99157;
  --base0A: #ffcc66;
  --base0B: #99cc99;
  --base0C: #66cccc;
  --base0D: #6699cc;
  --base0E: #cc99cc;
  --base0F: #a3685a;
}

/* InvoicesUI.js */
@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/FG_Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

svg > *[fill] {
  transition: opacity 200ms;
}

.prose pre {
  @apply bg-gray-800;
  @apply text-gray-300;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
