@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/FG_Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

svg > *[fill] {
  transition: opacity 200ms;
}
