.prose pre {
  @apply bg-gray-100;
  @apply text-gray-700;
  @apply border-gray-200;
  @apply border;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.token.punctuation {
  @apply text-gray-500;
}

.token.selector,
.token.tag .punctuation,
.token.tag > .tag {
  @apply text-green-700;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  @apply text-yellow-700;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  @apply text-green-700;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-aqua-600;
}

.token.atrule,
.token.keyword {
  @apply text-pink-600;
}

.token.keyword.module {
  @apply text-aqua-600;
}

.token.function {
  @apply text-blue-600;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-700;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  @apply text-gray-600;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* .prose a {
  @apply text-blue-500;
} */

.toc {
  @apply bg-blue-50;
  @apply p-4;
  @apply border-t;
  @apply border-blue-200;
}

.toc .heading {
  @apply uppercase;
  @apply font-medium;
  @apply tracking-tight;
  @apply text-blue-900;
  @apply pb-1;
}

.toc a {
  @apply block;
  @apply py-2;
  @apply text-lg;
  @apply border-b;
  @apply text-blue-400;
  @apply border-blue-100;
  @apply leading-4;
}

.toc li:last-child a {
  @apply border-b-0;
}

.toc a:hover {
  @apply text-blue-700;
}

.toc a.active {
  @apply text-red-600;
}

.prose {
  @apply mt-4;
  @apply p-4;
  padding-bottom: 50vh;
}

.prose h2 {
  @apply mt-0;
  @apply pt-20;
}

.prose code::before,
.prose code::after {
  content: "";
}

@screen md {
  .toc {
    @apply w-60;
    @apply flex-shrink-0;
    @apply order-1;
    @apply self-start;
    @apply sticky;
    @apply top-24;
    @apply pt-0;
    @apply px-6;
    @apply border-none;
    @apply bg-transparent;
  }

  .toc .heading {
    @apply mt-0;
    @apply text-xs;
  }

  .toc a {
    @apply text-sm;
    @apply border-none;
    @apply py-2;
  }

  .prose {
    @apply px-8;
  }
}

.nav-active,
.nav-active:hover {
  @apply text-red-500;
}

/* should use @ variants dark { */
/* @media (prefers-color-scheme: dark) {
  .toc a {
    @apply text-aqua-700;
    @apply border-blue-100;
  }
  .toc a:hover {
    @apply text-aqua-600;
    @apply border-blue-100;
  }
  .toc .heading {
    @apply text-aqua-100;
  }
} */
