/* When you bail on tailwind, start the className with __ so that they are easy to identify in the HTML as escape hatches, we don't want very many of these! */

.__carousel {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.__carousel::-webkit-scrollbar {
  @apply w-3 h-3;
}

.__carousel::-webkit-scrollbar-thumb {
  background: white;
  @apply bg-gray-500 rounded-lg;
}
.__carousel::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.__slide {
  scroll-snap-align: start;
}
