/*
Our markdown is parsed by a library Ryan hasn't put anywhere but his computer
and npm (he'll get it on github soon enough).  It handles a few things that this
stylesheet targets.

- Syntax highlighting with the same package that vscode uses
  - TODO: document all the fancy things you can do with code blocks
- It adds ids and anchors to each heading
- Builds a table of contents out of the headings in the markdown
  - the toc links to the generated heading ids
  - markdown files only get a a ToC if there is a "## toc" in the actual markdown
  - it puts the toc and content as siblings:
    ```
    <div class="toc-container">
      <ul class="toc"/>
    </div>
    <div class="md-prose">
      <!-- actual markdown HTML -->
    </div>
    ```
*/

/*****************************************************************************/
/* layout */

.markdown {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }

  &.has-toc {
    @media screen and (min-width: theme(screens.xl)) {
      --w-content: theme(screens.lg);
      --w-toc: theme(spacing.72);
      --w-gap: theme(spacing.8);
      max-width: calc(var(--w-content) + var(--w-gap) + var(--w-toc));
    }

    @media screen and (min-width: theme(screens.2xl)) {
      --w-toc: theme(spacing.96);
      --w-gap: theme(spacing.12);
    }
  }
}

/* TODO: Remove markdown-title styles if the title is located within the
  markdown container  */
.markdown-title {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }
}

.md-toc-container {
  @media screen and (min-width: theme(screens.lg)) {
    display: grid;
    grid-template: "main";
    grid-template-columns: minmax(auto, theme(screens.lg));

    /*
     * NOTE: There is a chromium bug that cuts off the focus ring when *any*
     * overflow value is set on a container. The 0.5rem offset accounts for the
     * added padding to fix this visually while maintaining the proper visual
     * space.
     * https://bugs.chromium.org/p/chromium/issues/detail?id=462609
     */
    gap: calc(var(--w-gap) - 0.5rem);
  }

  @media screen and (min-width: theme(screens.xl)) {
    grid-template-areas: "main toc";
    grid-template-columns: minmax(auto, var(--w-content)) calc(
        var(--w-toc) + 0.5rem
      );
  }
}

.md-layout-nav {
  grid-area: nav;
}

.md-layout-main {
  grid-area: main;
}

.md-toc-nav {
  @apply hidden xl:block; /* visibility */
  @apply h-full max-h-screen;
  @apply sticky top-6; /* sticky behavior */
  /* @apply text-[color:var(--hue-0750)]; */
  @apply pl-2;
  grid-area: toc;
}

.md-nav-item {
  @apply rounded;
  position: relative;
  color: inherit;
  transform: translateX(0);
}

.md-nav-item::before {
  @apply inset-0 rounded;
  position: absolute;
  content: "";
  background-color: transparent;
}

.md-nav-item--active {
  @apply font-semibold;
  color: var(--base0D);
  padding-left: 0.25rem;
  transform: translateX(-0.25rem);
}

.md-nav-item--active::before {
  background-color: var(--color-blue-500);
  opacity: 0.125;
}

.md-nav-item--level-1,
.md-toc-title,
/* Targets the first link, which is the page title */
.toc > li > p > a {
  @apply font-display text-base mb-2 font-medium tracking-wide;
  /* leading-squeezed */
  text-transform: uppercase;
  display: block;
  color: var(--hue-0750);

  & code {
    text-transform: initial;
    font-size: 85%;
  }
}

.toc {
  @apply list-none py-3 px-0 rounded-lg border;
  /* @apply border-[color:var(--hue-0100)] */

  & > li > ul {
    height: 100%;
    /*
    Had to do some funky calculatin' here, but the gist is that this means the
    little van box will max at 29rem at normal desktop screen heights, which is
    ideal so that the words in the last line get cut off by the y-axis overflow,
    helping users know that is a scrollable area.

    It is *not* ideal when the browser height is small because scroll behavior
    is a bit more confusing when the box, which itself has a vertical scrollbar,
    extends beyond the bounds of the window, which also has a vertical
    scrollbar. In that case we constrain it based on the screen size offset by
    the other elements above and below it. The three declarations are for
    progressive enhancement, as some versions of various browsers might not
    support `min()` or `env(safe-area-inset-bottom)`
    */
    max-height: 29rem;
    max-height: min(29rem, calc(100vh - 14.375rem));
    max-height: min(
      29rem,
      calc(100vh - env(safe-area-inset-bottom) - 14.375rem)
    );

    overflow-x: hidden;
    overflow-y: auto;
  }

  & > li > ul > li > ul {
    @apply mb-3 ml-3 md:ml-4 lg:ml-3 2xl:ml-4;
  }

  & a {
    @apply block py-1 px-5 text-base lg:text-sm relative;
  }

  & a:focus {
    @apply outline-none;
    /* @apply bg-[color:var(--hue-0050)] */
  }

  & a:not(:hover) {
    /* @apply text-[color:inherit]; */
  }

  & a[data-active] {
    @apply text-blue-500;
  }

  & a[data-active]::before {
    @apply content-[""] absolute top-0 left-0 h-full w-1 bg-blue-500;
  }

  & code {
    background: inherit;
    padding: 0;
    line-height: inherit;
    font-size: 90%;
  }
}

/*****************************************************************************/
/* prose */

.md-prose {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  grid-area: main;
  @apply min-w-0 flex-auto leading-normal text-base;
  word-wrap: break-word;
  /* @apply text-[color:var(--hue-0750)] */

  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }

  /*****************************************************************************/
  /* general text styles */

  & p {
    @apply mt-0 mb-4;
  }

  & strong {
    @apply font-semibold;
  }

  & .icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }

  /*****************************************************************************/
  /* lists */

  & ol {
    list-style: decimal;
  }

  & ul {
    list-style: disc;
  }

  & ol,
  & ul {
    @apply pl-8 my-0 mb-4;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ul,
  & ul ul {
    list-style-type: circle;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & ol ol ul,
  & ol ul ul,
  & ul ol ul,
  & ul ul ul {
    list-style-type: square;
  }

  & dd {
    @apply ml-0;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    @apply my-0;
  }

  & li {
    word-wrap: break-all;

    & > p {
      @apply m-0;
    }

    & > p + p {
      @apply mt-4;
    }

    & + li {
      @apply mt-1;
    }
  }

  & dl {
    @apply p-0 mt-0 mb-4;

    & dt {
      @apply p-0 mt-4 text-base italic font-semibold;
    }

    & dd {
      @apply py-0 px-4 mb-4;
    }
  }

  /*****************************************************************************/
  /* links */
  & a {
    @apply no-underline;
    /* @apply text-[color:var(--base0D)] */
  }

  & a:hover {
    @apply underline;
  }

  & a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  /*****************************************************************************/
  /* headings */

  & :is(h1, h2, h3, h4, h5, h6) {
    @apply m-0 mt-8 mb-4;
  }

  & h1 {
    @apply my-10;
    font-size: theme(fontSize.3xl);
  }

  & h2 {
    font-size: theme(fontSize.2xl);
  }

  & h3 {
    font-size: theme(fontSize.xl);
  }

  & h4 {
    font-size: theme(fontSize.lg);
  }

  & h5,
  & h6 {
    font-size: theme(fontSize.base);
  }

  @media screen and (min-width: theme(screens.md)) {
    & h1 {
      font-size: theme(fontSize.5xl);
    }

    & h2 {
      font-size: theme(fontSize.3xl);
    }
  }

  @media screen and (min-width: theme(screens.lg)) {
    & h3 {
      font-size: theme(fontSize.2xl);
    }
  }

  /*****************************************************************************/
  /* heading anchors */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    scroll-snap-margin-top: 1em;
    scroll-margin-top: 1em;

    & a {
      @apply flex h-full items-center absolute top-0 -left-6 -right-0 leading-none z-10;
    }

    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply flex h-full items-center;
      color: var(--base0D);
      vertical-align: middle;
    }

    & a .icon-link::before {
      width: 16px;
      height: 16px;
      content: " ";
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
      visibility: hidden;
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      opacity: 1;
      visibility: visible;
    }
  }

  /*****************************************************************************/
  /* details / summary */
  & details {
    @apply block mt-0 mb-4;
  }

  & summary {
    display: list-item;
  }

  & details[open] summary {
    @apply mb-2;
  }

  /*****************************************************************************/
  /* images */
  & img {
    border-style: none;
    max-width: 100%;
    background-color: var(--hue-0000);
  }

  /*****************************************************************************/
  /* code */

  & code,
  & kbd,
  & pre {
    word-wrap: normal;
    @apply rounded-lg border p-3 md:p-4 overflow-auto text-sm leading-none;
    /* @apply border-[color:var(--hue-0100)] */
  }

  & pre {
    @apply mt-0 mb-4;
  }

  & code,
  & kbd {
    /* @apply text-[color:var(--hue-0750)]; */
  }

  /* TODO */
  & kbd {
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    vertical-align: middle;
    background-color: var(--hue-0100);
    border: 1px solid var(--hue-0200);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--hue-0200);
  }

  & pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  & .codeblock-line {
    @apply block relative pr-4 leading-relaxed;
  }

  & code {
    @apply rounded py-0.5 px-1;
    /* @apply text-[color:inherit] */
    /* too dark! */
    /* background: var(--hue-0100); */
    background: hsla(210, 13%, 72%, 0.2);
  }

  & :is(a, h1, h2, h3, h4, h5, h6) code,
  & :is(a, h1, h2, h3, h4, h5, h6) kbd {
    /* @apply text-[color:inherit]; */
  }

  & :is(h1, h2, h3, h4, h5, h6) code {
    font-size: 90%;
    padding-top: max(0.125rem, 0.125em);
    padding-bottom: max(0.125rem, 0.125em);
    padding-right: max(0.25rem, 0.25em);
    padding-left: max(0.25rem, 0.25em);
  }

  & pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
    border-radius: initial;
  }

  & pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"]) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    padding-left: 0rem;
    content: attr(data-line-number);
    text-align: right;
    display: inline-block;
    width: 2rem;
    color: var(--hue-0300);
    margin-right: 1.5rem;
  }

  &
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number][data-highlight="true"]::before {
    content: "+";
    color: var(--base0B);
  }

  & pre[data-bad] {
    border-color: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      border-color: var(--color-red-400);
    }
  }

  &
    pre[data-line-numbers="true"][data-bad]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    color: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      color: var(--color-red-400);
    }
  }

  & pre[data-bad] {
    border-color: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      border-color: var(--color-red-400);
    }
  }

  & pre[data-filename]::before {
    content: attr(data-filename);
    display: block;
    margin-left: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  & .codeblock-line[data-highlight="true"]::after {
    pointer-events: none;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--base0B);
    opacity: 0.05;
  }

  & pre[data-bad] .codeblock-line[data-highlight="true"]::after {
    background: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      background: var(--color-red-400);
    }
  }

  /*****************************************************************************/
  /* tables */

  & table {
    text-indent: 0;
    border-spacing: 0;
    @apply block w-full text-left border-collapse overflow-auto max-w-full my-10;
    /* @apply border-[color:inherit] */
  }

  & table th {
    @apply sticky top-0 text-sm font-semibold bg-transparent;
    /* @apply text-[color:var(--hue-0750)] */
    @apply p-0 pb-1 pr-4 md:pr-6 border-0 border-b;
    /* @apply border-[color:var(--hue-0200)] */
  }

  & table tbody {
    @apply align-baseline;
  }

  & table td {
    @apply p-0 py-2 pr-4 md:pr-6 text-sm whitespace-nowrap border-0 border-b;
    /* @apply text-[color:var(--hue-1000)] border-[color:var(--hue-0100)] */
  }

  /*****************************************************************************/
  /* blocks */

  & docs-info,
  & docs-warning,
  & docs-error {
    @apply mt-0 mb-3 relative rounded-lg block border-l-2 border-r-2 border-current py-2 px-4;
  }

  & docs-info::before,
  & docs-warning::before,
  & docs-error::before {
    @apply inset-0 content-[""] absolute opacity-10 pointer-events-none;
  }

  & docs-warning {
    color: var(--color-yellow-900);
    @media (prefers-color-scheme: dark) {
      color: var(--color-yellow-200);
    }
  }

  & docs-warning::before {
    background: var(--color-yellow-500);
    opacity: 0.15;
  }

  & docs-info {
    color: var(--color-blue-700);
    @media (prefers-color-scheme: dark) {
      color: var(--color-blue-300);
    }
  }

  & docs-info::before {
    background: var(--color-blue-700);
    @media (prefers-color-scheme: dark) {
      background: var(--color-blue-300);
    }
  }

  & docs-error {
    color: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      color: var(--color-red-400);
    }
  }

  & docs-error::before {
    background: var(--color-red-700);
    @media (prefers-color-scheme: dark) {
      background: var(--color-red-400);
    }
  }

  & docs-cards {
    @apply flex flex-col md:grid grid-cols-2 gap-6;

    & > a {
      @apply block rounded;
      color: unset;
    }

    & > a:hover {
      text-decoration: unset;
    }
  }

  & docs-card {
    @apply block w-full h-full rounded border shadow transition-shadow ease-out p-6;
    /* @apply border-[color:var(--hue-0200)] */

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }

  & a:hover docs-card {
    @apply shadow-lg;
  }

  /*****************************************************************************/
  /* blockquotes */

  & blockquote {
    @apply mx-0 mt-0 mb-4 p-0 pl-4 border-l-4;
    /* @apply text-[color:var(--hue-0600)] border-[color:var(--hue-0200)] */
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  /*****************************************************************************/
  /* hr */

  & hr {
    @apply p-0 my-6 mx-0 h-[1px] border-0 overflow-visible;
    /* @apply bg-[color:var(--hue-0200)] */
  }
}
