/*****************************************************************************/
/* syntax highlighting */
@media (prefers-color-scheme: light) {
  :root {
    --base00: theme("colors.gray.50");
    --base01: theme("colors.gray.200");
    --base02: theme("colors.gray.300");
    --base03: theme("colors.gray.400");
    --base04: theme("colors.gray.500");
    --base05: theme("colors.gray.600");
    --base06: theme("colors.gray.700");
    --base07: theme("colors.gray.800");
    --base08: theme("colors.red.700");
    --base09: theme("colors.pink.brand");
    --base0A: theme("colors.blue.500");
    --base0B: theme("colors.green.500");
    --base0C: theme("colors.aqua.400");
    --base0D: theme("colors.blue.700");
    --base0E: theme("colors.pink.brand");
    --base0F: theme("colors.gray.700");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: theme("colors.gray.800");
    --base01: theme("colors.gray.700");
    --base02: theme("colors.gray.600");
    --base03: theme("colors.gray.500");
    --base04: theme("colors.gray.400");
    --base05: theme("colors.gray.300");
    --base06: theme("colors.gray.200");
    --base07: theme("colors.gray.100");
    --base08: theme("colors.red.300");
    --base09: theme("colors.pink.brand");
    --base0A: theme("colors.blue.300");
    --base0B: theme("colors.green.500");
    --base0C: theme("colors.aqua.400");
    --base0D: theme("colors.blue.500");
    --base0E: theme("colors.yellow.400");
    --base0F: theme("colors.gray.300");
  }
}

/*****************************************************************************/
/* layout */

.markdown {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }

  &.has-toc {
    @media screen and (min-width: theme(screens.xl)) {
      --w-content: theme(screens.lg);
      --w-toc: theme(spacing.72);
      --w-gap: theme(spacing.8);
      max-width: calc(var(--w-content) + var(--w-gap) + var(--w-toc));
    }

    @media screen and (min-width: theme(screens.2xl)) {
      --w-toc: theme(spacing.96);
      --w-gap: theme(spacing.12);
    }
  }
}

/* TODO: Remove markdown-title styles if the title is located within the
  markdown container  */
.markdown-title {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }
}

.md-toc-container {
  @media screen and (min-width: theme(screens.lg)) {
    display: grid;
    grid-template: "main";
    grid-template-columns: minmax(auto, theme(screens.lg));

    /*
     * NOTE: There is a chromium bug that cuts off the focus ring when *any*
     * overflow value is set on a container. The 0.5rem offset accounts for the
     * added padding to fix this visually while maintaining the proper visual
     * space.
     * https://bugs.chromium.org/p/chromium/issues/detail?id=462609
     */
    gap: calc(var(--w-gap) - 0.5rem);
  }

  @media screen and (min-width: theme(screens.xl)) {
    grid-template-areas: "main toc";
    grid-template-columns: minmax(auto, var(--w-content)) calc(
        var(--w-toc) + 0.5rem
      );
  }
}

.md-layout-nav {
  grid-area: nav;
}

.md-layout-main {
  grid-area: main;
}

.md-toc-nav {
  @apply hidden xl:block; /* visibility */
  @apply h-full max-h-screen;
  @apply sticky top-6; /* sticky behavior */
  @apply text-gray-700 dark:text-gray-200;
  @apply pl-2;
  grid-area: toc;
}

.md-nav-item {
  @apply rounded relative text-[color:inherit] translate-x-0 pl-2;
}

.md-nav-item--level-1 {
  @apply pl-0;
}

.md-nav-item::before {
  @apply inset-0 rounded absolute bg-transparent;
  content: "";
}

.md-nav-item--active {
  @apply font-semibold text-blue-brand pl-3 -translate-x-1;
}

.md-nav-item--active::before {
  @apply opacity-10 bg-blue-brand;
}

.md-nav-item--level-1,
.md-toc-title,
/* Targets the first link, which is the page title */
.toc > li > p > a {
  @apply block uppercase font-display text-d-p-sm mb-2 font-medium tracking-wide leading-[1.125];
  @apply text-gray-700 dark:text-gray-200;

  & code {
    @apply transform-none text-[length:85%];
  }
}

.toc {
  @apply list-none py-3 px-0 rounded-lg border border-gray-100 dark:border-gray-900;

  & > li > ul {
    height: 100%;
    /*
    Had to do some funky calculatin' here, but the gist is that this means the
    little van box will max at 29rem at normal desktop screen heights, which is
    ideal so that the words in the last line get cut off by the y-axis overflow,
    helping users know that is a scrollable area.

    It is *not* ideal when the browser height is small because scroll behavior
    is a bit more confusing when the box, which itself has a vertical scrollbar,
    extends beyond the bounds of the window, which also has a vertical
    scrollbar. In that case we constrain it based on the screen size offset by
    the other elements above and below it. The three declarations are for
    progressive enhancement, as some versions of various browsers might not
    support `min()` or `env(safe-area-inset-bottom)`
    */
    max-height: 29rem;
    max-height: min(29rem, calc(100vh - 14.375rem));
    max-height: min(
      29rem,
      calc(100vh - env(safe-area-inset-bottom) - 14.375rem)
    );

    overflow-x: hidden;
    overflow-y: auto;
  }

  & > li > ul > li > ul {
    @apply mb-3 ml-3 md:ml-4 lg:ml-3 2xl:ml-4;
  }

  & a {
    @apply block py-1 px-5 text-d-p-sm lg:text-m-p-sm relative;
  }

  & a:focus {
    @apply outline-none bg-gray-100 dark:bg-gray-900;
  }

  & a:not(:hover) {
    @apply text-[color:inherit];
  }

  & a[data-active] {
    @apply text-blue-brand;
  }

  & a[data-active]::before {
    @apply content-[""] absolute top-0 left-0 h-full w-1 bg-blue-brand;
  }

  & code {
    background: inherit;
    padding: 0;
    line-height: inherit;
    font-size: 90%;
  }
}

/*****************************************************************************/
/* prose */

.md-prose {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  grid-area: main;
  @apply min-w-0 flex-auto leading-normal text-gray-700 dark:text-gray-300 text-d-p-sm break-words;

  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }

  /*****************************************************************************/
  /* general text styles */

  & p {
    @apply mt-0 mb-4;
  }

  & strong {
    @apply font-semibold;
  }

  & .icon {
    @apply inline-block fill-current align-text-bottom;
  }

  /*****************************************************************************/
  /* lists */

  & ol {
    @apply list-decimal;
  }

  & ul {
    @apply list-disc;
  }

  & ol,
  & ul {
    @apply pl-8 my-0 mb-4;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ul,
  & ul ul {
    list-style-type: circle;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & ol ol ul,
  & ol ul ul,
  & ul ol ul,
  & ul ul ul {
    list-style-type: square;
  }

  & dd {
    @apply ml-0;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    @apply my-0;
  }

  & li {
    word-wrap: break-all;

    & > p {
      @apply m-0;
    }

    & > p + p {
      @apply mt-4;
    }

    & + li {
      @apply mt-1;
    }
  }

  & dl {
    @apply p-0 mt-0 mb-4;

    & dt {
      @apply p-0 mt-4 text-d-p-sm italic font-semibold;
    }

    & dd {
      @apply py-0 px-4 mb-4;
    }
  }

  /*****************************************************************************/
  /* links */
  & a {
    @apply text-blue-brand no-underline;
  }

  & a:hover {
    @apply underline;
  }

  & a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  /*****************************************************************************/
  /* headings */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply font-display m-0 mt-8 mb-4;
  }

  & h1 {
    @apply my-10 text-m-h2 md:text-m-h1;
  }

  & h2 {
    @apply text-m-h3 md:text-m-h2;
  }

  & h3 {
    @apply text-d-p-lg lg:text-m-h2;
  }

  & h4 {
    @apply text-m-h2;
  }

  & h5,
  & h6 {
    @apply text-d-p-sm;
  }

  /*****************************************************************************/
  /* heading anchors */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    scroll-snap-margin-top: 1em;
    scroll-margin-top: 1em;

    & a {
      @apply flex h-full items-center absolute top-0 -left-6 -right-0 leading-none z-10;
    }

    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply flex h-full items-center text-blue-brand align-middle;
    }

    & a .icon-link::before {
      @apply w-4 h-4 inline-block invisible;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      @apply opacity-100 visible;
    }
  }

  /*****************************************************************************/
  /* details / summary */
  & details {
    @apply block mt-0 mb-4;
  }

  & summary {
    cursor: pointer;
    display: list-item;
  }

  & details[open] summary {
    @apply mb-2;
  }

  /*****************************************************************************/
  /* images */
  & img {
    @apply max-w-full border-0 bg-white dark:bg-black;
  }

  /*****************************************************************************/
  /* code */

  & code,
  & kbd,
  & pre {
    word-wrap: normal;
    @apply rounded-lg border border-gray-100 dark:border-gray-900 p-3 md:p-4 overflow-auto text-m-p-sm leading-none;
  }

  & pre {
    @apply mt-0 mb-4;
  }

  & code,
  & kbd {
    @apply text-gray-700 dark:text-gray-300;
  }

  /* TODO */
  & kbd {
    @apply bg-gray-100 dark:bg-gray-900 align-middle leading-[10px] font-mono inline-block border border-gray-200 dark:border-gray-800 rounded;
    box-shadow: inset 0 -1px 0 hsl(0, 0%, 0%, 0.5);
  }

  & pre > code {
    @apply p-0 m-0 break-normal whitespace-pre bg-transparent border-0;
  }

  & .codeblock-line {
    @apply block relative pr-4 leading-relaxed;
  }

  & code {
    @apply rounded text-[color:inherit] py-[2px] px-1;
    /* TODO: too dark! */
    /* background: var(--hue-0100); */
    background: hsla(210, 13%, 72%, 0.2);
  }

  & :is(a, h1, h2, h3, h4, h5, h6) code,
  & :is(a, h1, h2, h3, h4, h5, h6) kbd {
    @apply text-[color:inherit];
  }

  & :is(h1, h2, h3, h4, h5, h6) code {
    font-size: 90%;
    padding-top: max(0.125rem, 0.125em);
    padding-bottom: max(0.125rem, 0.125em);
    padding-right: max(0.25rem, 0.25em);
    padding-left: max(0.25rem, 0.25em);
  }

  & pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
    border-radius: initial;
  }

  & pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"]) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    content: attr(data-line-number);
    @apply pl-0 text-right inline-block w-8 mr-6 text-gray-300 dark:text-gray-600;
  }

  & pre[data-bad] {
    @apply border-red-700 dark:border-red-400;
  }

  &
    pre[data-line-numbers="true"][data-bad]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    @apply text-red-700 dark:text-red-400;
  }

  & pre[data-filename]::before {
    @apply block ml-4 pl-6 bg-no-repeat;
    content: attr(data-filename);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
  }

  & .codeblock-line[data-highlight="true"]::after {
    content: " ";
    @apply bg-green-400 dark:bg-green-600 opacity-10 w-full top-0 left-0 absolute pointer-events-none;
  }

  & pre[data-bad] .codeblock-line[data-highlight="true"]::after {
    @apply bg-red-700 dark:bg-red-400;
  }

  /*****************************************************************************/
  /* tables */

  & table {
    text-indent: 0;
    border-spacing: 0;
    @apply block w-full text-left border-collapse border-[color:inherit] overflow-auto max-w-full my-10;
  }

  & table th {
    @apply sticky top-0 text-m-p-sm font-semibold text-gray-700 dark:text-gray-300 bg-transparent;
    @apply p-0 pb-1 pr-4 md:pr-6 border-0 border-b border-gray-200 dark:border-gray-800;
  }

  & table tbody {
    @apply align-baseline;
  }

  & table td {
    @apply p-0 py-2 pr-4 md:pr-6 text-m-p-sm text-black dark:text-white whitespace-nowrap border-0 border-b border-gray-100;
  }

  /*****************************************************************************/
  /* blocks */

  & docs-info,
  & docs-warning,
  & docs-error {
    @apply mt-0 mb-3 relative rounded-lg block border-l-2 border-r-2 border-current py-2 px-4;
  }

  & docs-info::before,
  & docs-warning::before,
  & docs-error::before {
    @apply inset-0 content-[""] absolute opacity-10 pointer-events-none;
  }

  & docs-warning {
    @apply text-yellow-900 dark:text-yellow-200;
  }

  & docs-warning::before {
    @apply opacity-[0.15] bg-yellow-500;
  }

  & docs-info {
    @apply text-blue-brand;
  }

  & docs-info::before {
    @apply bg-blue-brand;
  }

  & docs-error {
    @apply text-red-700 dark:text-red-300;
  }

  & docs-error::before {
    @apply bg-red-700 dark:bg-red-300;
  }

  & docs-cards {
    @apply flex flex-col md:grid grid-cols-2 gap-6;

    & > a {
      @apply block rounded;
      color: unset;
    }

    & > a:hover {
      text-decoration: unset;
    }
  }

  & docs-card {
    @apply block w-full h-full rounded border border-gray-200 dark:border-gray-800 shadow transition-shadow ease-out p-6;

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }

  & a:hover docs-card {
    @apply shadow-lg;
  }

  /*****************************************************************************/
  /* blockquotes */

  & blockquote {
    @apply mx-0 mt-0 mb-4 p-0 pl-4 text-gray-600 dark:text-gray-400 border-l-4 border-gray-200 dark:border-gray-800;
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  /*****************************************************************************/
  /* hr */

  & hr {
    @apply p-0 my-6 mx-0 h-[1px] bg-gray-200 dark:bg-gray-800 border-0 overflow-visible;
  }
}
