/*****************************************************************************/
/* syntax highlighting */
:root {
  --base00: theme("colors.gray.50");
  --base01: theme("colors.gray.200");
  --base02: theme("colors.gray.300");
  --base03: theme("colors.gray.400");
  --base04: theme("colors.gray.500");
  --base05: theme("colors.gray.600");
  --base06: theme("colors.gray.700");
  --base07: theme("colors.gray.800");
  --base08: theme("colors.red.700");
  --base09: theme("colors.pink.brand");
  --base0A: theme("colors.blue.500");
  --base0B: theme("colors.green.500");
  --base0C: theme("colors.aqua.400");
  --base0D: theme("colors.blue.700");
  --base0E: theme("colors.pink.brand");
  --base0F: theme("colors.gray.700");
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: theme("colors.gray.800");
    --base01: theme("colors.gray.700");
    --base02: theme("colors.gray.600");
    --base03: theme("colors.gray.500");
    --base04: theme("colors.gray.400");
    --base05: theme("colors.gray.300");
    --base06: theme("colors.gray.200");
    --base07: theme("colors.gray.100");
    --base08: theme("colors.red.300");
    --base09: theme("colors.pink.brand");
    --base0A: theme("colors.blue.300");
    --base0B: theme("colors.yellow.brand");
    --base0C: theme("colors.aqua.300");
    --base0D: theme("colors.blue.300");
    --base0E: theme("colors.pink.300");
    --base0F: theme("colors.gray.300");
  }
}

/*****************************************************************************/
/* layout */

.markdown {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }

  &.has-toc {
    @media screen and (min-width: theme(screens.xl)) {
      --w-content: theme(screens.lg);
      --w-toc: theme(spacing.72);
      --w-gap: theme(spacing.8);
      max-width: calc(var(--w-content) + var(--w-gap) + var(--w-toc));
    }

    @media screen and (min-width: theme(screens.2xl)) {
      --w-toc: theme(spacing.96);
      --w-gap: theme(spacing.12);
    }
  }
}

/* TODO: Remove markdown-title styles if the title is located within the
  markdown container  */
.markdown-title {
  @media screen and (min-width: theme(screens.lg)) {
    max-width: theme(screens.lg);
  }
}

.md-toc-container {
  display: grid;
  grid-template:
    "toc" auto
    "main" auto / 1fr;

  @media screen and (min-width: theme(screens.xl)) {
    grid-template: "main toc" 1fr / minmax(auto, var(--w-content)) calc(
        var(--w-toc) + 0.5rem
      );
  }
}

.md-toc-nav {
  @apply xl:h-full xl:max-h-screen;
  @apply xl:sticky xl:top-10; /* sticky behavior */
  @apply text-gray-700 dark:text-gray-200;
  @apply mb-8 xl:mb-0 xl:pl-8;
  grid-area: toc;
}

.md-nav-item {
  @apply rounded relative text-[color:inherit] translate-x-0 pl-2;
}

a.md-nav-item {
  @apply transition-colors hover:text-blue-brand;
}

.md-nav-item--level-1 {
  @apply pl-0;
}

.md-nav-item::before {
  @apply absolute inset-0 bg-transparent rounded;
  content: "";
}

.md-nav-item--active {
  @apply pl-3 font-semibold -translate-x-1 text-blue-brand;
}

.md-nav-item--active::before {
  @apply opacity-10 bg-blue-brand;
}

.md-nav-item--level-1,
.md-toc-title,
/* Targets the first link, which is the page title */
.toc > li > p > a {
  @apply block font-display text-d-p-sm mb-2 font-bold tracking-wide leading-[1.125];
  @apply text-gray-700 dark:text-gray-200;

  & code {
    @apply transform-none text-[length:85%];
  }
}

.toc > li {
  @apply mb-8;
}

.toc > ul:first-child {
  @apply mb-0;
}

.toc {
  @apply max-h-[90vh] overflow-x-hidden overflow-y-visible px-0 py-3 list-none border border-gray-200 rounded-lg dark:border-gray-500;

  & > li > ul {
    & li li {
      @apply hidden xl:block;
    }

    & li li li {
      @apply hidden;
    }
  }

  & > li > ul > li ul {
    @apply ml-3 md:ml-4 lg:ml-3 2xl:ml-4;
  }

  & a {
    @apply relative block px-5 py-1 transition-colors text-d-p-sm lg:text-m-p-sm hover:text-blue-brand;
  }

  & a:focus {
    @apply bg-gray-100 outline-none dark:bg-gray-900;
  }

  & a:not(:hover) {
    @apply text-[color:inherit];
  }

  & a[data-active] {
    @apply text-blue-brand;
  }

  & a[data-active]::before {
    @apply content-[""] absolute top-0 left-0 h-full w-1 bg-blue-brand;
  }

  & code {
    background: inherit;
    padding: 0;
    line-height: inherit;
    font-size: 90%;
  }
}

/*****************************************************************************/
/* prose */

.md-prose {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  grid-area: main;
  @apply flex-auto min-w-0 leading-normal text-gray-700 break-words dark:text-gray-300 text-d-p-sm;

  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }

  /*****************************************************************************/
  /* general text styles */

  & p {
    @apply mt-0 mb-4;
  }

  & strong {
    @apply font-semibold;
  }

  & .icon {
    @apply inline-block align-text-bottom fill-current;
  }

  /*****************************************************************************/
  /* lists */

  & ol {
    @apply list-decimal;
  }

  & ul {
    @apply list-disc;
  }

  & ol,
  & ul {
    @apply pl-8 my-0 mb-4;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ul,
  & ul ul {
    list-style-type: circle;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & ol ol ul,
  & ol ul ul,
  & ul ol ul,
  & ul ul ul {
    list-style-type: square;
  }

  & dd {
    @apply ml-0;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    @apply my-0;
  }

  & li {
    word-wrap: break-all;

    & > p {
      @apply m-0;
    }

    & > p + p {
      @apply mt-4;
    }

    & + li {
      @apply mt-1;
    }
  }

  & dl {
    @apply p-0 mt-0 mb-4;

    & dt {
      @apply p-0 mt-4 italic font-semibold text-d-p-sm;
    }

    & dd {
      @apply px-4 py-0 mb-4;
    }
  }

  /*****************************************************************************/
  /* links */
  & a {
    @apply no-underline text-blue-brand;
  }

  & a:hover {
    @apply underline;
  }

  & a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  /*****************************************************************************/
  /* headings */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply m-0 mt-8 mb-4;
  }

  & :is(h1) {
    @apply font-display;
  }

  & h1 {
    @apply my-10 text-m-h2 md:text-d-h2;
  }

  & h2 {
    @apply text-m-h2 md:text-d-h3;
  }

  & h3 {
    @apply text-m-h3 md:text-m-h2;
  }

  & h4,
  & h5,
  & h6 {
    @apply font-bold text-m-p-lg md:text-d-p-lg;
  }

  & h1 code,
  & h2 code,
  & h3 code {
    border: none;
    background: inherit;
  }

  /*****************************************************************************/
  /* heading anchors */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    scroll-snap-margin-top: 1em;
    scroll-margin-top: 1em;

    & a {
      @apply absolute top-0 z-10 flex items-center h-full leading-none -left-6 -right-0;
    }

    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply flex items-center h-full align-middle text-blue-brand;
    }

    & a .icon-link::before {
      @apply invisible inline-block w-4 h-4;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      @apply visible opacity-100;
    }
  }

  /*****************************************************************************/
  /* details / summary */
  & details {
    @apply block mt-0 mb-4;
  }

  & summary {
    cursor: pointer;
    display: list-item;
  }

  & details[open] summary {
    @apply mb-2;
  }

  /*****************************************************************************/
  /* images */
  & img {
    @apply max-w-full bg-white border-0 dark:bg-black;
  }

  /*****************************************************************************/
  /* code */

  & code,
  & kbd,
  & pre {
    word-wrap: normal;
    @apply p-3 overflow-auto leading-none border border-gray-100 rounded-lg dark:border-gray-900 md:p-4 text-m-p-sm;
  }

  & pre {
    @apply mt-0 mb-4 leading-relaxed bg-[color:var(--base00)];
  }

  & code,
  & kbd {
    @apply text-gray-700 dark:text-gray-300;
  }

  /* TODO */
  & kbd {
    @apply bg-gray-100 dark:bg-gray-900 align-middle leading-[10px] font-mono inline-block border border-gray-200 dark:border-gray-800 rounded;
    box-shadow: inset 0 -1px 0 hsl(0, 0%, 0%, 0.5);
  }

  & pre > code {
    @apply p-0 m-0 break-normal whitespace-pre bg-transparent border-0;
  }

  & .codeblock-line {
    @apply relative block pr-4;
  }

  & code {
    @apply rounded text-[color:inherit] py-[2px] px-1 bg-gray-50 dark:bg-gray-800;
  }

  & :is(a, h1, h2, h3, h4, h5, h6) code,
  & :is(a, h1, h2, h3, h4, h5, h6) kbd {
    @apply text-[color:inherit];
  }

  & :is(h1, h2, h3, h4, h5, h6) code {
    font-size: 90%;
    padding-top: max(0.125rem, 0.125em);
    padding-bottom: max(0.125rem, 0.125em);
    padding-right: max(0.25rem, 0.25em);
    padding-left: max(0.25rem, 0.25em);
  }

  & pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
    border-radius: initial;
  }

  & pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"]) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    content: attr(data-line-number);
    @apply inline-block w-8 pl-0 mr-6 text-right text-gray-300 dark:text-gray-600;
  }

  & pre[data-good] {
    @apply border-green-700 dark:border-green-400;
  }

  &
    pre[data-line-numbers="true"][data-good]:not(
      [data-lang="bash"],
      [data-lang="sh"]
    )
    [data-line-number]::before {
    @apply text-green-700 dark:text-green-400;
  }

  & pre[data-bad] {
    @apply border-red-700 dark:border-red-400;
  }

  &
    pre[data-line-numbers="true"][data-bad]:not(
      [data-lang="bash"],
      [data-lang="sh"]
    )
    [data-line-number]::before {
    @apply text-red-700 dark:text-red-400;
  }

  & pre[data-filename]::before {
    @apply block pb-3 pl-6 ml-4 bg-no-repeat;
    content: attr(data-filename);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='#aaa'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    background-position: 0px 3px;
  }

  & pre:not([data-nocopy])[data-lang] {
    @apply relative;
  }

  & pre:not([data-nocopy])[data-lang]::after {
    @apply absolute hidden w-2 h-2 text-gray-700 cursor-pointer top-2 right-2 dark:text-gray-300;
    height: 24px;
    width: 24px;
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' width='24' height='24' fill='#aaa'%3E%3Cpath d='M22.6,4H21.55a3.89,3.89,0,0,0-7.31,0H13.4A2.41,2.41,0,0,0,11,6.4V10H25V6.4A2.41,2.41,0,0,0,22.6,4ZM23,8H13V6.25A.25.25,0,0,1,13.25,6h2.69l.12-1.11A1.24,1.24,0,0,1,16.61,4a2,2,0,0,1,3.15,1.18l.09.84h2.9a.25.25,0,0,1,.25.25Z' /%3E%3Cpath d='M33.25,18.06H21.33l2.84-2.83a1,1,0,1,0-1.42-1.42L17.5,19.06l5.25,5.25a1,1,0,0,0,.71.29,1,1,0,0,0,.71-1.7l-2.84-2.84H33.25a1,1,0,0,0,0-2Z' /%3E%3Cpath d='M29,16h2V6.68A1.66,1.66,0,0,0,29.35,5H27.08V7H29Z' /%3E%3Cpath d='M29,31H7V7H9V5H6.64A1.66,1.66,0,0,0,5,6.67V31.32A1.66,1.66,0,0,0,6.65,33H29.36A1.66,1.66,0,0,0,31,31.33V22.06H29Z' /%3E%3C/svg%3E");
  }

  & pre:not([data-nocopy])[data-copied][data-lang]::after {
    @apply block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='24' height='24' stroke='#aaa'%3E%3Cpath d='M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z'/%3E%3C/svg%3E");
  }

  & pre:hover:not([data-nocopy])[data-lang]::after {
    @apply block;
  }

  & .codeblock-line[data-highlight="true"]::after {
    content: " ";
    @apply absolute top-0 left-0 w-full bg-green-400 pointer-events-none dark:bg-green-300 opacity-10 dark:opacity-20;
  }

  & pre[data-good] .codeblock-line[data-highlight="true"]::after {
    @apply bg-green-700 dark:bg-green-400;
  }

  & pre[data-bad] .codeblock-line[data-highlight="true"]::after {
    @apply bg-red-700 dark:bg-red-400;
  }

  /*****************************************************************************/
  /* tables */

  & table {
    text-indent: 0;
    border-spacing: 0;
    @apply block w-full text-left border-collapse border-[color:inherit] overflow-auto max-w-full my-10;
  }

  & table th {
    @apply sticky top-0 font-semibold text-gray-700 bg-transparent text-m-p-sm dark:text-gray-300;
    @apply p-0 pb-1 pr-4 border-0 border-b border-gray-200 md:pr-6 dark:border-gray-800;
  }

  & table tbody {
    @apply align-baseline;
  }

  & table td {
    @apply p-0 py-2 pr-4 text-black border-0 border-b border-gray-100 md:pr-6 text-m-p-sm dark:text-white whitespace-nowrap;
  }

  /*****************************************************************************/
  /* blocks */

  & docs-info,
  & docs-success,
  & docs-warning,
  & docs-error {
    @apply relative block px-4 py-2 mt-0 mb-3 border-l-2 border-r-2 border-current rounded-lg;
  }

  & docs-info::before,
  & docs-success::before,
  & docs-warning::before,
  & docs-error::before {
    @apply inset-0 content-[""] absolute opacity-10 pointer-events-none;
  }

  & docs-warning {
    @apply text-yellow-800 dark:text-yellow-100;
  }

  & docs-warning::before {
    @apply opacity-[0.15] bg-yellow-400;
  }

  & docs-info {
    @apply text-blue-brand dark:text-blue-300;
  }

  & docs-info::before {
    @apply bg-blue-brand;
  }

  & docs-error {
    @apply text-red-700 dark:text-red-300;
  }

  & docs-error::before {
    @apply bg-red-700 dark:bg-red-300;
  }

  & docs-success {
    @apply text-green-600 dark:text-green-300;
  }

  & docs-success::before {
    @apply bg-green-brand;
  }

  & docs-info a,
  & docs-success a,
  & docs-warning a,
  & docs-error a {
    text-decoration: underline;
  }

  & docs-cards {
    @apply flex flex-col grid-cols-2 gap-6 md:grid;

    & > a {
      @apply block rounded;
      color: unset;
    }

    & > a:hover {
      text-decoration: unset;
    }
  }

  & docs-card {
    @apply block w-full h-full p-6 transition-shadow ease-out border border-gray-200 rounded shadow dark:border-gray-800;

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }

  & a:hover docs-card {
    @apply shadow-lg;
  }

  /*****************************************************************************/
  /* blockquotes */

  & blockquote {
    @apply p-0 pl-4 mx-0 mt-0 mb-4 text-gray-600 border-l-4 border-gray-200 dark:text-gray-400 dark:border-gray-800;
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  /*****************************************************************************/
  /* hr */

  & hr {
    @apply p-0 my-6 mx-0 h-[1px] bg-gray-200 dark:bg-gray-800 border-0 overflow-visible;
  }
}
