@media (prefers-color-scheme: light) {
  :root {
    --base00: theme("colors.gray.50");
    --base01: theme("colors.gray.200");
    --base02: theme("colors.gray.300");
    --base03: theme("colors.gray.400");
    --base04: theme("colors.gray.500");
    --base05: theme("colors.gray.600");
    --base06: theme("colors.gray.700");
    --base07: theme("colors.gray.800");
    --base08: theme("colors.red.700");
    --base09: theme("colors.pink.brand");
    --base0A: theme("colors.blue.brand");
    --base0B: theme("colors.green.500");
    --base0C: theme("colors.aqua.brand");
    --base0D: theme("colors.blue.700");
    --base0E: theme("colors.pink.brand");
    --base0F: theme("colors.gray.700");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: theme("colors.gray.800");
    --base01: theme("colors.gray.700");
    --base02: theme("colors.gray.600");
    --base03: theme("colors.gray.500");
    --base04: theme("colors.gray.400");
    --base05: theme("colors.gray.300");
    --base06: theme("colors.gray.200");
    --base07: theme("colors.gray.100");
    --base08: theme("colors.yellow.brand");
    --base09: theme("colors.pink.brand");
    --base0A: theme("colors.blue.brand");
    --base0B: theme("colors.green.brand");
    --base0C: theme("colors.aqua.brand");
    --base0D: theme("colors.blue.brand");
    --base0E: theme("colors.red.brand");
    --base0F: theme("colors.gray.200");
  }
}

/* :nuthin {
  --base00: #ffffff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #969896;
  --base04: #e8e8e8;
  --base05: #333333;
  --base06: #ffffff;
  --base07: #ffffff;
  --base08: #ed6a43;
  --base09: #0086b3;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333333;
} */

.md-prose {
  @apply text-m-p-lg;

  & p {
    @apply my-8;
  }

  & h2 {
    @apply font-display text-m-h2 md:text-d-h2 dark:text-gray-200;
  }

  & strong {
    @apply dark:text-gray-200;
  }

  & hr {
    @apply dark:border-gray-700;
  }

  & a {
    @apply text-blue-brand;
    &:hover {
      @apply underline;
    }
    &:active {
      @apply text-red-brand;
    }
  }

  & pre {
    @apply my-8 break-normal overflow-auto p-2 md:p-3 border-t border-b sm:border sm:rounded-xl border-gray-200 dark:border-gray-700 text-m-p-sm lg:text-d-p-sm -mx-6;
  }

  & pre[data-lang="text"] {
    @apply whitespace-pre-wrap break-all;
  }

  & code {
    @apply rounded-lg  bg-gray-50 dark:bg-gray-800 p-1 text-d-p-sm text-gray-700 dark:text-gray-400;
  }

  /* unset the stuff from `& code` up there ^ */
  & pre > code {
    @apply bg-transparent p-0;
    color: inherit;
  }

  & ol {
    list-style: decimal;
  }

  & ul {
    list-style: disc;
  }

  & ol,
  & ul {
    @apply pl-8 my-0 mb-4;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ul,
  & ul ul {
    list-style-type: circle;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & ol ol ul,
  & ol ul ul,
  & ul ol ul,
  & ul ul ul {
    list-style-type: square;
  }

  & dd {
    @apply ml-0;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    @apply my-0;
  }

  & li {
    word-wrap: break-all;

    & > p {
      @apply m-0;
    }

    & > p + p {
      @apply mt-4;
    }

    & + li {
      @apply mt-1;
    }
  }

  & dl {
    @apply p-0 mt-0 mb-4;

    & dt {
      @apply p-0 mt-4 text-d-p-sm italic font-semibold;
    }

    & dd {
      @apply py-0 px-4 mb-4;
    }
  }

  & blockquote {
    @apply pl-4 italic border-l-4 font-serif;
  }

  & .codeblock-line {
    @apply relative block;
  }

  & .codeblock-line[data-highlight="true"]::after {
    content: " ";
    @apply absolute top-0 -mx-3 left-0 right-0 bg-green-400 pointer-events-none dark:bg-green-600 opacity-10;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    scroll-snap-margin-top: 1em;
    scroll-margin-top: 1em;

    & a {
      @apply absolute top-0 z-10 flex items-center h-full leading-none -left-6 -right-0;
    }

    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply flex items-center h-full align-middle text-blue-brand;
    }

    & a .icon-link::before {
      @apply invisible inline-block w-4 h-4;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      @apply visible opacity-100;
    }
  }
}
