@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --reach-menu-button: 1;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/font/founders-grotesk-bold.woff2") format("woff2");
  font-style: normal;
}

html {
  font-size: 16px;
}

[hidden] {
  display: none !important;
}
