@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url("/font/founders-grotesk-bold.woff2") format("woff2");
  font-style: normal;
}

html {
  font-size: 16px;
}

[hidden] {
  display: none !important;
}

._no-triangle::-webkit-details-marker {
  display: none;
  &::-webkit-details-marker {
    list-style-type: none;
  }
}
