@font-face {
  font-family: "Virgil";

  src: url("https://excalidraw.com/FG_Virgil.woff2");
}

@font-face {
  font-family: "Cascadia";

  src: url("https://excalidraw.com/Cascadia.woff2");
}

.prose h2 {
  scroll-snap-margin-top: 3em;
  scroll-margin-top: 3em;
}

.prose blockquote {
  font-weight: normal;
}

.prose pre {
  --bg-opacity: 1;
  background-color: #fcfcfc;
  background-color: rgba(252, 252, 252, var(--bg-opacity));
  --text-opacity: 1;
  color: #616161;
  color: rgba(97, 97, 97, var(--text-opacity));
  --border-opacity: 1;
  border-color: #eeeeee;
  border-color: rgba(238, 238, 238, var(--border-opacity));
  border-width: 1px;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 */

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  --text-opacity: 1;
  color: #bdbdbd;
  color: rgba(189, 189, 189, var(--text-opacity));
}

.token.punctuation {
  --text-opacity: 1;
  color: #9e9e9e;
  color: rgba(158, 158, 158, var(--text-opacity));
}

.token.selector,
.token.tag .punctuation,
.token.tag > .tag {
  --text-opacity: 1;
  color: #058743;
  color: rgba(5, 135, 67, var(--text-opacity));
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  --text-opacity: 1;
  color: #998644;
  color: rgba(153, 134, 68, var(--text-opacity));
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  --text-opacity: 1;
  color: #058743;
  color: rgba(5, 135, 67, var(--text-opacity));
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  --text-opacity: 1;
  color: #10C5BF;
  color: rgba(16, 197, 191, var(--text-opacity));
}

.token.atrule,
.token.keyword {
  --text-opacity: 1;
  color: #D05BB0;
  color: rgba(208, 91, 176, var(--text-opacity));
}

.token.keyword.module {
  --text-opacity: 1;
  color: #10C5BF;
  color: rgba(16, 197, 191, var(--text-opacity));
}

.token.function {
  --text-opacity: 1;
  color: #3665A3;
  color: rgba(54, 101, 163, var(--text-opacity));
}

.token.regex,
.token.important,
.token.variable {
  --text-opacity: 1;
  color: #998644;
  color: rgba(153, 134, 68, var(--text-opacity));
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  --text-opacity: 1;
  color: #757575;
  color: rgba(117, 117, 117, var(--text-opacity));
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* .prose a {
  @apply text-blue-500;
} */

.toc {
  --bg-opacity: 1;
  background-color: #F5F8FB;
  background-color: rgba(245, 248, 251, var(--bg-opacity));
  padding: 1rem;
  border-top-width: 1px;
  --border-opacity: 1;
  border-color: #CEDBED;
  border-color: rgba(206, 219, 237, var(--border-opacity));
}

.toc .heading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.025em;
  --text-opacity: 1;
  color: #122236;
  color: rgba(18, 34, 54, var(--text-opacity));
  padding-bottom: 0.25rem;
}

.toc a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  border-bottom-width: 1px;
  --text-opacity: 1;
  color: #779BCB;
  color: rgba(119, 155, 203, var(--text-opacity));
  --border-opacity: 1;
  border-color: #ECF1F8;
  border-color: rgba(236, 241, 248, var(--border-opacity));
  line-height: 1rem;
}

.toc li:last-child a {
  border-bottom-width: 0;
}

.toc a:hover {
  --text-opacity: 1;
  color: #24436D;
  color: rgba(36, 67, 109, var(--text-opacity));
}

.toc a.active {
  --text-opacity: 1;
  color: #E63746;
  color: rgba(230, 55, 70, var(--text-opacity));
}

.prose {
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 50vh;
}

.prose code::before,
.prose code::after {
  content: "";
}

@media (min-width: 1024px) {
  .toc {
    width: 15rem;
    flex-shrink: 0;
    order: 1;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    padding-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-style: none;
    background-color: transparent;
  }

  .toc .heading {
    margin-top: 0;
    font-size: 0.85rem;
  }

  .toc a {
    font-size: 0.95rem;
    border-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .prose {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.nav-active,
.nav-active:hover {
  --text-opacity: 1;
  color: #FF3D4E;
  color: rgba(255, 61, 78, var(--text-opacity));
}

/* should use @ variants dark { */

/* @media (prefers-color-scheme: dark) {
  .toc a {
    @apply text-aqua-700;
    @apply border-blue-100;
  }
  .toc a:hover {
    @apply text-aqua-600;
    @apply border-blue-100;
  }
  .toc .heading {
    @apply text-aqua-100;
  }
} */

.prose code {
  font-weight: normal;
  --bg-opacity: 1;
  background-color: #f8fafc;
  background-color: rgba(248, 250, 252, var(--bg-opacity));
  --text-opacity: 1;
  color: #616161;
  color: rgba(97, 97, 97, var(--text-opacity));
  padding: 0.25rem;
  border-radius: 0.125rem;
  font-size: 0.85rem;
}

svg > *[fill] {
  transition: opacity 200ms;
}
